In [1]:
import pandas as pd

In [6]:
test_Data = pd.DataFrame({'likes_music': [True, True, False, True, False, True]})

In [7]:
test_Data

   likes_music
0         True
1         True
2        False
3         True
4        False
5         True

In [8]:
# categorical var
pd.get_dummies(test_Data)

   likes_music
0         True
1         True
2        False
3         True
4        False
5         True

In [9]:
test_Data.astype(int)

   likes_music
0            1
1            1
2            0
3            1
4            0
5            1

In [13]:
# real indicator variable
test_Data['does_not_like_music'] = ~test_Data.likes_music
test_Data.astype(int)

   likes_music  does_not_like_music
0            1                    0
1            1                    0
2            0                    1
3            1                    0
4            0                    1
5            1                    0

In [14]:
# 2 model
from sklear ....

SyntaxError: invalid syntax (<ipython-input-14-094bbb363f66>, line 2)